# 1. 编译构建目录
build/
cmake-build-debug/

# 2. Python 环境与缓存
**/__pycache__/
*.python-version
.venv/

# 3. 忽视指定文件夹
**/temp/
**/output/
# 3.5 保护指定文件夹
!test_case/lastyear/output/

# 4. 忽视 IDE 配置 
.idea/
.vscode/